@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Tere tulemast minu imelisse projektipoissi.</h1>
    <p>Siit tõmba lahti kiire õppevideo -><a href="https://www.youtube.com/watch?v=9Mae-nst4W8&ab_channel=MowkMeister">VIDJO</a><- ja anna tuld!</p>
</div>
